.answer_panel_data {
    display: flex;
    flex-direction: row;
    /*max-height: 600px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
/*
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    */
    height: 100%;
    animation: fadeIn 0.3s 1;
    opacity: 1;
  }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.answer_panel_data_image {
  object-fit: contain;
  /*width:35%;*/
  height:auto;
  margin: 10px;
}
  
.answer_panel_data_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: space-between;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  scrollbar-color: darkcyan #4c93ba;
  scrollbar-width :auto;
  scroll-snap-align: center;
}
  
.answer_panel_data_info_text_area {
  font-size: 20px;
  font-family: arial, sans-serif;
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: #fff;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .answer_panel_data_info_text_area{
      font-size: 16px;
  }
  .answer_panel_data {
    flex-direction: column;
  }
  .answer_panel_data_image {
    width: auto;
    height: 40%;
  }

  .answer_panel_data_info {
    margin-top: 0;
  }
}
  