.answer_panel_data {
    display: flex;
    flex-direction: row;
    /*max-height: 600px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
.answer_panel_data_image {
    object-fit: contain;
    width:35%;
    height:auto;
    margin: 10px;
}
  
.answer_panel_data_info {
  flex-direction: column;
  display: flex;
  align-content: space-between;
  margin: 10px;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  scrollbar-color: darkcyan #4c93ba;
  scrollbar-width :auto;
  scroll-snap-align: center;
}
  
.answer_panel_data_info_text_area {
  font-size: 22px;
  font-family: arial, sans-serif;
  font-weight:500;
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: #fff;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .answer_panel_data_info_text_area{
      font-size: 16px;
  }
}
  
.answer_panel_data_info_bottom_panel {
  display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    /* align-content: stretch; */
    /* flex-wrap: nowrap; */
    width: 100%;
    /* margin-right: 0; */
    justify-content: flex-end;
}
