.game_menu_group { 
    height: 100%;
    margin-top: auto;
    display: flex;
    padding: 10px;
 }

.bottom_panel {
    display: flex;
    justify-content: space-between; /* Размещаем элементы с пробелами между ними */
    align-items: flex-end; /* Выровнять элементы по нижнему краю */
    padding: 10px;
  
    color: #fff;
  /*  position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
  
.bottom_panel_info {
  text-align: right;
  font-weight : 500;
  font-size: 24px ;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.bottom_panel_info h1 {
  text-align: right;
  font-size: 20px;
  font-weight:500;
}

@media (max-width: 768px) {
  .bottom_panel_info h1 {
      font-size: 12px;
  }
}
  
.navigate_panel {
  padding: 10px 10px 0px 10px;
  display: flex
;
  grid-gap: 10px;
  /* flex: 1 1; */
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
