.center_panel {
  flex: 1;
  margin: 10px;
  align-content: space-around;
  position: relative;
  overflow: auto;
  scrollbar-color: darkcyan #4c93ba;
  scrollbar-width: auto;
  scroll-snap-align: center;
  overflow-x: auto;
}

.center_panel.padded {
  padding-right: 10px; /* Отступ, когда скроллбар отображается */
}