.quizWrap {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
 /* max-width: 60%;*/
  animation: fadeIn 0.3s 1;
  opacity: 1;
}

.quizWrap_header {
  border-bottom: 1px solid #ccc;
/* margin: 10px 0 ;*/
  padding-bottom: 10px;
}
  
.quizWrap_header_info { 
  float:left 
}
  
.quizWrap_header_score { 
  float:right 
}

.quizWrap_category,
.quizWrap_question {
  display: flex;
  justify-content: center; 
  padding: 10px;
  background: #4c93ba;
  border-radius: 5px;
  margin: 5px 0;
}

.quizWrap_answers {
    /* margin: 10px 0; */
    display: flex;
    flex-direction: column;
    /* grid-gap: 0px; */
    /* padding-bottom: 1px; */
    /* justify-content: space-evenly; */
    /* align-content: flex-end; */
}

.label_question {
  cursor: pointer;
  background: #fafafa;
  text-align: center;
  font-size: 26px;
  padding-left: 200px;
}

.label_question_no_img {
  cursor: pointer;
  background: #fafafa;
  text-align: center;
  font-size: 26px;
}

.label_question_no_img.correct,
.label_question.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}

.label_question_no_img.wrong,
.label_question.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}

.quizAnsButtons {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  justify-content: center; 
}

.quizWrapBox {
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quizWrapBoxLefImage {
  object-fit: contain;
  width:35%;
  max-height: 500px;
  height:auto;
  margin: 10px;
}

.quizWrapBoxRight {
/*  background-color: blue;*/
  width: 100%;
  padding-top: 10px;
}

.quizQuestionItem {
  display: flex;
  height: 100px;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
}

 .quizQuestionItemImage {
  max-height: 100px;
  width: 200px;
  object-fit: contain;
  padding: 10px;
  cursor: pointer;
  left: 0;
  position: absolute;
}

@media (max-width: 768px) {
  .quizWrap {
    max-width: 100%;
    font-size: 16px;
  }
  .label_question {
    font-size: 1rem;
  }
  .quizWrapBox {
    flex-direction: column;
  }
  .quizWrapBoxLefImage {
  width: 90%;
  }
}