.quizWrap {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
 /* max-width: 60%;*/
  animation: fadeIn 0.3s 1;
  opacity: 1;
  height: 100%;
}

.quizWrap_header {
  border-bottom: 1px solid #ccc;
/* margin: 10px 0 ;*/
  padding-bottom: 10px;
}
  
.quizWrap_header_info { 
  float:left 
}
  
.quizWrap_header_score { 
  float:right 
}

.quizWrap_category,
.quizWrap_question {
  display: flex;
  justify-content: center; 
  padding: 10px;
  background: #4c93ba;
  border-radius: 5px;
  margin: 5px 0;
}

.quizWrap_answers_parent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 10px;

  scrollbar-color: darkcyan #4c93ba;
  scrollbar-width: auto;
}

.quizWrap_answers {
    /* margin: 10px 0; */
    display: flex;
    flex-direction: column;
    /* grid-gap: 0px; */
    /* padding-bottom: 1px; */
    align-content: space-around;
    overflow: auto;
    scrollbar-color: darkcyan #4c93ba;
    scrollbar-width: auto;
    scroll-snap-align: center;
    overflow-x: auto;
    height: 400px;
   /* justify-content: center;*/
}

.label_question {
  cursor: pointer;
  background: #fafafa;
  text-align: center;
  font-size: 26px;
  padding-left: 200px;
}

.label_question_no_img {
  cursor: pointer;
  background: #fafafa;
  text-align: center;
  font-size: 26px;
}

.label_question_no_img.correct,
.label_question.correct {
  background: #d8ffc4;
  border: 1px solid #60a03f;
}

.label_question_no_img.wrong,
.label_question.wrong {
  background: #ffe8e8;
  border: 1px solid #c78181;
}

.quizWrapBox {
  /*background-color: red;*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quizWrapBoxLefImage {
  object-fit: contain;
  width:35%;
  max-height: 500px;
  height:auto;
  margin: 10px;
}

.quizWrapBoxRight {
/*  background-color: blue;*/
  width: 100%;
  padding-top: 10px;
}

.quizQuestionItem {
  display: flex;
  min-height: 80px;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
}

 .quizQuestionItemImage {
  max-height: 100px;
  width: 300px;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  cursor: pointer;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  user-select: none;
}

@media (max-width: 768px) {
  .quizWrap {
    max-width: 100%;
    font-size: 16px;
  }
  .label_question {
    font-size: 1rem;
  }
  .quizWrapBox {
    flex-direction: column;
  }
  .quizWrapBoxLefImage {
  width: 90%;
  }
}

.fullScreenImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #74b6db;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  user-select: none;
  animation: fadeIn 0.3s 1;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
    opacity: 1;
  }
}