.top_panel {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.top_panel h1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.top_commands {
  display: flex;
  grid-gap: 10px;

  color: #fff;
  border-radius: 10px;
  width: 100%;

  flex-direction: row;
  border-spacing: 10px;
  justify-content: center;
}

.command_item {
  padding: 15px 15px;
  background-color: darkcyan;
  font-size: 18px !important;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  animation: pulse 0.3s 1;
}

@media (max-width: 768px) {
  .command_item {
    font-size: 14px !important;
  }

  .command_item .span_command_name {
    font-size: 16px !important;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
  }
}

.command_item .span_command_name {
  float: left;
  font-size: 24px;
}

.command_item .span_command_score {
  text-align: right;
}

.command_item .span_custom_info {
  text-align: right;
  font-size: 15px;
}

.command_item.correct {
  color: #ffffff;
  background-color: red;
}

.command_item.disable {
  opacity: 0.4;
  pointer-events: none;
}

.command_item:hover {
  filter: brightness(85%)
}

.progress {
  margin: 10px 0;
  animation: pulse 0.7s 1;
}

.command_name_info_status {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.command_name_info {
  display: flex;
  align-items: center;
}

.command_name_image {
  object-fit: contain;
  height: auto;
  margin: 10px;
}
